.consults-container{
    height: 100%;
    background-color: #BC84BB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.consults-table-container{
    height: 30rem;
    width: 80%;
    overflow: auto;
    box-shadow: 5px 5px 10px #7D027D;
    background-color: #ECECEB;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}


.consults-table{
    font-size: 1rem;
    border: 1px #7D027D solid;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}
.consults-table thead{
    background-color: #7D027D;
}
.consults-table th{
    height: 50px;
    border-bottom: 1px #b57edc solid;
    text-transform: uppercase;
    color: #ffff;
}
.consults-table td {
    padding: 5px 20px;
    text-align: center;
    border-bottom: 1px #7D027D solid;
}
.consults-buttons{
    display: flex;
    gap: 5px;
}
.consults-buttons button{
    cursor: pointer;
    padding: 0;
    width: 5rem;
    height: 2rem;
}
.btn-profile{
    background-color: #7D027D;
    border: 0;
    color: #ffff;
    transition: background-color 0.2s, color 0.2s;
}
.btn-program{
    background-color: #ffff;
    color: black;
    border: 0;
    transition: background-color 0.2s, color 0.2s;
}
.btn-profile:hover{
    transition: background-color 0.2s, color 0.2s;
    background-color: #7f4ca5;
    color: #ffff;
}
.btn-program:hover{
    transition: background-color 0.2s, color 0.2s;
    background-color: #dbb6ee;
    color: #ffff;
}

/* Filtro de busqueda */

.consults-filter{
    box-shadow: 5px 5px 10px #7D027D;
    background-color:#ECECEB;
    margin-top: 80px;
    padding: 20px 0;
    border-radius: 5px;
    flex-wrap: wrap;
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}
.serach-filter{
    display: flex;
    width: 80%;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
}
.serach-filter p {
}
.serach-filter span{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}
.consults-filter select {
    width: 80%;
    height: 4rem;
    word-wrap: normal;
    text-align: center;
    border-radius: 5px;
    border: 0;
    background-color: #7D027D;
    color: #ffff;
}

.consults-my-quotes{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}
.consults-my-quotes label {
    width: 100%;
}
.consults-my-quotes button{
    flex: 1;
    height: 4rem;
    padding: 0;
    background-color: #7D027D;
    border-radius: 5px;
}