/* Header */

.top-page{
    width: 100%;
    position: relative;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7D027D;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.header-logo{
    display: flex;
    padding-left: 20px;
    align-items: center;
    height: 4rem;
    font-size: 1.5rem; 
    color: #ffff;
    display: flex;
    flex-direction: row-reverse;
}
.header-logo img{
    width: 48px;
    height: 48px;
}

/* Nav */

.nav-container{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 64px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 2rem;
    padding: 5px 0;
    gap: 2rem;
    background-color: #ECECEB;
}
.nav-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
}
.active-link{
    background-color: #7D027D;
    color: #ffff;
    height: 100%;
}
.inactive-link{
    height: 100%;
    color: #000;
    transition: color 0.2s, background-color 0.2s;
}
.inactive-link:hover{
    cursor: pointer;
    background-color: #B26EB2;
    color: #ffff;
}

/* Iniciar sesion */
.header-btn{
    height: 4rem;
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

.header-btn label{
    height: 2.5rem;
    width: 6rem;
}

.header-btn label button{
    padding: 0;
    border-radius: 5px;
}



