.section-slider-home {
  padding-top: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-images-slider {
  overflow: hidden;
  border-radius: 10px;
  width: 60%;
  height: 32rem;
  display: flex;
  justify-content: start;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets//images//hermoso-dentista-trabajando-clinica-dental.jpg");
  background-size: 100% 100%;
}
.section-text-slider {
  padding: 0 60px;
  background-color: #8c48a1;
  height: 100%;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  color: #ffff;
}

.services-section {
  overflow: hidden;
  padding: 2rem 0;
  background-color: #b573dc;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: #ffff;
}
.cards-services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 20px 0;
}
.card-info {
  padding: 20px;
  cursor: pointer;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: linear-gradient(#8c48a1, #8c48a1);
  width: 20rem;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: #b573dc solid;
  box-shadow: 0 5px 20px #8c48a1;
  transition: border-bottom, box-shadow, linear 0.2s;
}
.card-info:hover {
  border-bottom: #be9ddb solid;
  box-shadow: 0 40px 20px #8c48a1;
  transition-delay: 0.2s;
}
.service-image {
  border-radius: 100%;
  border: 5px #b573dc solid;
  width: 96px;
  height: 96px;
}
/* .service-image {
    overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets//images//oficina-dental.jpg");
  background-size: 100% 100%;
  width: 16rem;
  height: 24rem;
}
.card-info {
    background-color: #8c48a1;
    height: 60%;
} */
