.register-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}
.register-container form {
    background-color: #ffff;
    padding: 30px;
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 5px;
}
.register-container form label{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.register-container form label input {
    height: 2rem;
}
.personal-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.register-btn{
    display: flex;
    gap: 1rem;
}