.modal-container-consults {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Asegúrate de que el valor sea mayor que el z-index de otros elementos */
}

.modal-consults-g {
    /* Agrega estilos para tu modal aquí */
}
