.modal-container-consults {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-consults-g {
    border-radius: 5px;
    width: 80%;
    height: 80%;
    background-color: #ffff;
}
