.nav-container{
    background-color:#B573DC;
    width: 100%;
    height: 12%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    box-shadow: 1px;
    box-shadow: 0 2px 10px #8C48A1;
}
.nav-container ul{
    height: 100%;
    padding-left: 100px;
    display: flex;
    align-items: end;
    gap: 10px;
    width: 80%;
}
.nav-container ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container ul li a {
    text-decoration: none;
    flex: 1;
    text-align: center;
    transition: background-color 0.3s;
    padding: 15px 30px;
    /* border-radius: 20px; */
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #ffff;
}
.nav-container ul li a:hover{
    background-color:  #C091E8;
    transition-delay: 0.1s;
}

.active-link{
    background-color: #A755A2;
}

.nav-logo-img{
    border-top-right-radius: 100px;
    height: 100%;
    color: #ffff;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #A755A2;
}
.nav-logo-img img {
    width: 32px;
    height: 32px;
}