.register-container{
    background: linear-gradient(to bottom, #E6E6FA, #D8BFD8);
    width: 30%;
    padding: 2rem;
    border-radius: 5px;
}
.register-container form{
    display: flex;
    flex-direction: column;
}
.register-container form section {      
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.element-components{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.element-components input, select{
    padding: 0.3rem;
    flex: 1;
}
.element-components button {
    padding: 1rem;
    background-color: #B573DC;
    color: #ffff;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.element-components button:hover{
    background-color: #A755A2;
    transition-delay: 0.1s;
}
