.services-container{
    overflow: auto;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.services-container-title{
    color: #4b1c71;
    width: 90%;
}
.services-container-title hr {
    border: 1px #4b1c71 solid;
}
.services-section{
    border-radius: 5px;
    width: 90%;
    height: 100%;
    background-color: #dbb6ee;
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
    padding: 10px 0px;

}
.services-article{
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    width: 20rem;
    background-color: #7f4ca5;
}
.services-article:hover{

}
.services-article-title{
    color: #ffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.services-article-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 100%;
    background-color: #4b1c71;
}
.services-article-img{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.services-article-img img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}



.direct-room{
    width: 90%;
}
